%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {d, 'USE_STACKTRACES'}]}.
{src_dirs, ["src", "src/controllers"]}.
{shell, [{config, "./config/sys.config.local"}]}.

{erlydtl_opts, [
    {doc_root, "src/views"},
    {recursive, true},
    {libraries, [
        {nova_erlydtl_inventory, nova_erlydtl_inventory}
    ]},
    {default_libraries, [nova_erlydtl_inventory]}
]}.

{deps, [
    nova,
    mimerl,
    {kura, {git, "https://github.com/Taure/kura.git", {tag, "v2.0.8"}}},
    {kura_postgres, {git, "https://github.com/Taure/kura_postgres.git", {tag, "v0.4.2"}}},
    {jwerl, ".*",
        {git, "https://github.com/Taure/jwerl.git",
            {ref, "5f856e7987bb65ceec1593c21a01fd9aef87abda"}}}
]}.
{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
    {test, [{deps, [{gun, "2.0.1"}]}]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

%% Release profiles
%% To create a release just run
%% rebar3 release -n chatli-prod
{relx, [
    {release, {chatli, "0.1.0"}, [chatli], [
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}
    ]}
]}.

{alias, [{ci, [compile, dialyzer, xref, fmt, lint]}]}.
%% Plugins for rebar3
{project_plugins, [
    erlfmt,
    rebar3_kura,
    rebar3_lint,
    {rebar3_erlydtl_plugin, ".*",
        {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {erlydtl, compile}}]}
]}.
{dialyzer, [
    {warnings, [
        unknown
    ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [
        jhn_stdlib,
        edoc,
        xmerl,
        uuid,
        cowboy,
        erlydtl,
        cowlib,
        routing_tree
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "{rebar.config, elvis.config, src, include,test}/*.{hrl,erl}",
        "src/controllers/*.erl",
        "src/plugins/*.erl",
        "config/*"
    ]}
]}.
