%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.
{shell, [{config, "./config/sys.config"}]}.

{erlydtl_opts, [{doc_root, "src/views"},
                {recursive, true},
                {libraries, [
                             {nova_erlydtl_inventory, nova_erlydtl_inventory}
                            ]},
                {default_libraries, [nova_erlydtl_inventory]}
               ]}.

{deps, [
        {nova, ".*", {git, "https://github.com/mwik/nova.git", {branch, "security_handler_ws"}}},
        {pgo, ".*", {git, "https://github.com/erleans/pgo.git", {branch, "master"}}}
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 release -n chatli-prod
{relx, [{release, {"chatli-dev", "0.1.0"},
         [chatli],
         [{dev_mode, true},
          {include_erts, false},
          {extended_start_script, true}]},
        {release, {"chatli-prod", "0.1.0"},
         [chatli],
         [{dev_mode, false},
          {include_erts, true},
          {extended_start_script, true}]}
       ]}.


%% Plugins for rebar3
{plugins, [
           rebar3_path_deps,
           {rebar3_nova_serve, {path, "_checkouts/rebar3_nova_serve"}},
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
